<div class="row">
  <div class="col-md-8">
    <div class="page-header" style="margin-top: 25px;">
      <h3 class="title">Categories</h3>
    </div>
    <% if policy(Topic.new).create? %>
      <%= link_to new_topic_path, class: 'btn btn-success' do %>
        <span class="glyphicon glyphicon-plus"></span> New Topic
      <% end %>
    <% end %>
    <% @topics.each do |topic| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to topic.name, topic %>
          </h4>
          <small>
            <%= topic.description %>
          </small>
        </div>
      </div>
      <hr>
    <% end %>
    <%= will_paginate @index, renderer: BootstrapPagination::Rails %>
  </div>
</div>