<div class="row">
  <div class="col-md-12">
    <div class="page-header" style="margin-top: 25px;">
      <h3 class="title">Popular Users</h3>
    </div>
    <p class="about">Most active users</p>
    <%= render partial: 'users/user', collection: @users %>
    <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
  </div>
</div>