<h1>About Sentro</h1>

<h4>Sentro showcases the best new establishments in Singapore. 
  It's a place for bloggers or individuals to share about the newest restaurants, cafes, retail stores, and establishments with friends!</h4>

