<h1>About Sentro</h1>

<h4>Sentro showcases the best new establishments in Singapore. 
  It's a place for individuals who are on a constant lookout for new places,<br/> to share about the newest restaurants, cafes, retail stores, and establishments with friends!</h4>

<h1>FAQ</h1>
<h4> Can I submit a post?</h4>

<p>Sure thing! After logging in, select a "Topic" and click the "New Post" link in the header and submit the posts' title, tagline, and image. Each post should include the:</p>

<ul>
  <li>URL - Direct link to the establishment's page (avoid links to press or blogs)</li>
  <li>Post Title</li>
  <li>Tagline - Very short description of the establishment (make it catchy!)</li>
</ul>

<h4>Here are a few examples:</h4>


<ul>
 <li>Concetto - Affordable italian food</li>
 <li>Afterglow - Fantastic vegetarian food</li>
 <li>Pull & Bear- A topman alternative for hipsters</li>
</ul>
 
<h4>If the post hasn't been submitted before, it will be queued up for review. Note that not every post will surface on the homepage as hundreds of posts are submitted each day and curated by the community.</h4>
</h5>

<h4> How can I get notifications?</h4>
<p>First, favorite a post. Next, click on the profile icon in the top right corner of the page, and check the "Email Favorites" box. Voila!</p>


<h4> How do I prettify my URL?</h4>
<p>Sentro has a markdown function that allows you to prettify your URL. Just type ``` before the URL, hit "Enter", insert your URL, and close it out with ``` (easy peasy!)</p>