<div class="row">
  <div class="page-header" style="margin-top: 25px;">
    <h3 class="title">
      Trending
    </h3>
  </div>
  <%-if user_signed_in?-%>
    <%= link_to topics_path(information: "Please select a topic"), class: 'btn btn-success' do %>
      <span class="glyphicon glyphicon-plus"></span> New Post
    <% end %>
  <%-end-%>
  <br>
  <p class="about"> Newest places this week </p>
  <div id="tag_cloud">
  Tag Cloud:
   <% tag_cloud Post.tag_counts_on(:tags, :limit => 10, :order => "count desc"), %w[s m l] do |tag| %>
    <%= link_to tag.name, tag_path(tag.name), class: "label label-orange font-12" %>
   <% end %>
  </div>
  <div class="row gap-style">
    <%= render partial: 'posts/post', collection: @posts %>
  </div>
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>