@import "bootstrap";

.user-info {
  margin-top: 9px;
  background:#fafcfc;
}

.nav {
  margin-top: 5px;
  background:#fafcfc;
  border-top: 1px solid #eee;
  padding-right:20px;
}

.vote-arrows {
  width: 40px;
  text-align: center;
}

.favorite {
  margin-top : 20px;
}

.voted {
  opacity: 0.5;
}